<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized.

**Here are a few key takeaways from this course**

* Data Science Languages 
* Data Science Libraries 
* Data Science Tools
* Multiplication and arithmetic

1. Python
2. R
3. SQL

1. pandas
2. numpy
3. matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|Rstudio           |
|Google Colab      |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
conversion = 60
200/conversion

3.3333333333333335

## Author
Jack Wilson